body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
  padding-top: 50px;
}

input {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

pre {
  margin-top: 20px;
  text-align: left;
  display: inline-block;
  background: #222;
  padding: 10px;
}
