body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
}

.card {
  margin: 40px auto;
  width: 220px;
  height: 140px;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
}